	/*CLASES DE AUGUR*/

	@charset "UTF-8";
	/* CSS Document */

	#caja1 {
	    width: 100%;
	    height: 100%;
	    opacity: 0.6;
	    background-color: #000000;
	}
	.caja3 {
	    width: 100%;
	    height: auto;
	    opacity: 0.9;
	    background-color: white;
	}
	.titulo1 {
	    width: 378px;
	    height: 88px;
	    font-family: Roboto;
	    font-size: 32px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.19;
	    letter-spacing: normal;
	    text-align: left;
	    color: white;
	}
	.titulo2 {
	    width: 457px;
	    height: 27px;
	    font-family: Roboto;
	    font-size: 16px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.2;
	    letter-spacing: normal;
	    text-align: left;
	    color: white;
	}
	#caja2 {
	    box-shadow: 0 0 20px #cccccc;
	    width: 100%;
	    opacity: 0.6;
	    background-color: #000000;
	    height: 100%;
	}
	#cabecera {
	    width: 100%;
	    height: 97.8px;
	    background-color: #008c44;
	}
	#principal {
	    background: url("../images/fondo.png") no-repeat fixed center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-color: #cccccc;
	    background-size: cover;
	    height: 100%;
	    width: 100%;
	    text-align: center;
	}
	.fondo {
	    width: 1366px;
	    height: 768px;
	    object-fit: contain;
	}
	.INGRESAR {
	    width: 66px;
	    height: 19px;
	    font-family: Roboto;
	    font-size: 16px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.19;
	    letter-spacing: normal;
	    text-align: center;
	    color: #ffdc5d;
	}
	.Rectangle-2 {
	    width: 504px;
	    height: 111px;
	    opacity: 0.5;
	    background-color: #000000;
	}
	.fondo_numeros {
	    width: 30px;
	    height: 27px;
	    object-fit: contain;
	    background-image: url("../images/fondo_numeros.png");
	}
	.texto1 {
	    width: 402px;
	    height: 45px;
	    font-family: Roboto;
	    font-size: 16px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.2;
	    letter-spacing: normal;
	    text-align: left;
	    color: white;
	    vertical-align: middle;
	}
	.prueba_Texto {
	    vertical-align: middle;
	}
	.pasos {
	    width: 538px;
	    height: 64px;
	    border: solid 1px #707070;
	    background-color: #008c44;
	}
	.Rectangle-120 {
	    width: 741px;
	    height: 768px;
	    opacity: 0.9;
	    background-color: var(--blanco);
	}
	.titulo_blanco {
	    width: 158px;
	    height: 38px;
	    font-family: Roboto;
	    font-size: 28px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.19;
	    letter-spacing: normal;
	    text-align: center;
	    color: white;
	}
	.icono_lapiz {
	    width: 27.9px;
	    height: 32px;
	    object-fit: contain;
	}
	.titulo_verde {
	    width: auto;
	    height: 38px;
	    font-family: Roboto;
	    font-size: 28px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.19;
	    letter-spacing: normal;
	    text-align: left;
	    color: #008c44;
	}
	.label_formularios {
	    width: auto;
	    height: 19px;
	    font-family: Roboto;
	    font-size: 16px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.19;
	    letter-spacing: normal;
	    text-align: left;
	    color: #6b6b6b;
	}
	.footer_form {
	    width: 537.8px;
	    height: 80px;
	    opacity: 0.7;
	    background-color: #008c44;
	}
	.Rectangle-66 {
	    width: 125px;
	    height: 42px;
	    border-radius: 21px;
	    background-color: #ffdc5d;
	}
	.letra_cafe {
	    width: 89px;
	    height: 19px;
	    font-family: Roboto;
	    font-size: 16px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.19;
	    letter-spacing: normal;
	    color: #6d5f4d;
	    vertical-align: middle;
	    text-align: center;
	}
	.CONTINUAR {
	    width: 77px;
	    height: 19px;
	    font-family: Roboto;
	    font-size: 16px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.19;
	    letter-spacing: normal;
	    color: #6d5f4d;
	    text-align: center;
	}
	.parrafo_verde {
	    width: 458px;
	    height: 38px;
	    font-family: Roboto;
	    font-size: 16px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.2;
	    letter-spacing: normal;
	    text-align: left;
	    color: #008c44;
	}
	.login_titulo_verde {
	    width: 446px;
	    height: 105px;
	    font-family: Roboto;
	    font-size: 42px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.21;
	    letter-spacing: normal;
	    text-align: left;
	    color: #008c44;
	}
	.Image-2 {
	    width: 100%;
	    height: 57px;
	    border-radius: 29px;
	    background-color: #008c44;
	    color: white;
	    line-height: 57px;
	    text-align: center;
	    border: 0;
	    border-color: transparent;
	}
	.ingresar_blanco {
	    width: 66px;
	    height: 19px;
	    font-family: Roboto;
	    font-size: 16px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.19;
	    letter-spacing: normal;
	    text-align: center;
	    color: white;
	}
	.Olvd-mi-contrasea {
	    width: auto;
	    height: 19px;
	    font-family: Roboto;
	    font-size: 16px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.19;
	    letter-spacing: normal;
	    text-align: left;
	    color: #008c44;
	}
	.boton {
	    background-color: transparent;
	    border: 0;
	    border-color: transparent;
	}
	.menu {
	    width: 100%;
	    height: auto;
	    background-color: #008c44;
	    text-align: center;
	}
	.menu a {
	    color: #ffdc5d;
	}
	.menu a:hover {
	    color: white;
	}
	.terminos {
	    width: 28px;
	    height: 28px;
	    border: solid 1px #008c44;
	}
	.fondo_diag {
	    width: 100%;
	    height: auto;
	    opacity: 0.8;
	    background-color: white;
	}
	.titulo_gris {
	    height: auto;
	    font-family: Roboto;
	    font-size: 16px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.19;
	    letter-spacing: normal;
	    text-align: center;
	    color: #6b6b6b;
	}
	.boton1 {
	    font-family: Roboto;
	    font-size: 16px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.19;
	    letter-spacing: normal;
	    color: #6d5f4d;
	    vertical-align: middle;
	    text-align: center;
	    width: auto;
	    height: 42px;
	    border-radius: 21px;
	    background-color: #ffdc5d;
	    border: 0;
	    border-color: transparent;
	}
	.boton2 {
	    width: auto;
	    height: 42px;
	    border-radius: 21px;
	    background-color: #ffdc5d;
	    border: 0;
	    border-color: transparent;
	}
	.iconos_tab {
	    width: 13.1px;
	    height: 19.9px;
	    object-fit: contain;
	    opacity: 0.8;
	    float: left;
	}
	.titulos_tab {
	    width: auto;
	    height: 19px;
	    font-family: Roboto;
	    font-size: 16px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.19;
	    letter-spacing: normal;
	    text-align: center;
	    color: #008c44;
	    vertical-align: center;
	}
	.pestanas_tab {
	    line-height: 1em;
	}
	.texto_verde {
	    width: auto;
	    height: 38px;
	    font-family: Roboto;
	    font-size: 16px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.2;
	    letter-spacing: normal;
	    text-align: center;
	    color: #008c44;
	}
	.respuestas {
	    width: 100px;
	    height: 42px;
	    border-radius: 21px;
	    border: solid 1px #008c44;
	    background-color: white;
	    font-family: Roboto;
	    font-size: 16px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.19;
	    letter-spacing: normal;
	    text-align: center;
	    color: #008c44;
	    vertical-align: center;
	}
	.respuestas a:hover {
	    color: white;
	}
	.respuestas_sel {
	    width: 100px;
	    height: 42px;
	    border-radius: 21px;
	    border: solid 1px #008c44;
	    background-color: #008c44;
	    font-family: Roboto;
	    font-size: 16px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: condensed;
	    line-height: 1.19;
	    letter-spacing: normal;
	    text-align: center;
	    color: white;
	    vertical-align: center;
	}