	/*CLASES DE AUGUR*/

	@charset "UTF-8";
	/* CSS Document */

	.ingresar {
	    width: 100%;
	    height: 57px;
	    border-radius: 29px;
	    color: white;
	    line-height: 57px;
	    text-align: center;
	    border: 0;
	    border-color: transparent;
	}